$colores:(
    verde-claro: #BFD3C1,
    verde-oscuro: #68A691,
    melocoton-medio: #EFC7C2,
    hueso: #fff,
    naranja_claro: #ffe5d4,
    naranja-muyClaro: #f7f0eb,
    morado-oscuro: rgb(48, 38, 58),
    morado-claro: #694F5D
)